<div class="page-header">
    <h2>About</h2>

    <p>So this is the about page. I'm making a website.</p>
</div>
<div class="page-content">

    <h3>About Me</h3>
    <p>Hi,</p>
    <p>My name is Brian. I'm a Sydney based IT professional, currently working as a front end developer with a strong background in data (Analysis, Data Warehousing and Business Intelligence). Very privileged to be working with an extremely talented team that inspire me each day to reach my potential. Special mention to my best friend / partner in life who is always very supportive in everything I do.</p>
    <p>With my limited UX & design experience, the site layout may be lacking, but I enjoy tinkering and learning new things, so watch this space.</p>
    <p>The Robot Legacy site is built from the ground up using AngularJS, HTML5 & Bootstrap CSS.</p>
    <p>With my strong data background, I'm interested in starting projects involving data and visualisation. So most likely going to experiment with D3.js, as well as testing the limits on what I can achieve with AngularJS, which will be added in the "Project" section of this site as they develop.</p>

    <br />
    <h3>Contact</h3>
    <p>Still setting up the backend of this site including the contact form, so if you want to reach me and provide any suggestions on making my site more awesome, or just wanting to say "Hello", you can do so using my twitter account: <a href="http://www.twitter.com/tabz174">@tabz174</a></p>


</div>