<div class="page-header">
    <h2>Robot Legacy</h2>
    <p>Home page where the homes are home and the robots have legacies</p>
</div>


<!--<div class="container col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">-->
<div class="page-content">

    <h3>Welcome</h3>
    <p>Welcome to Robot Legacy. Enjoy your stay.</p>

    <br />

    <h3>What is Robot Legacy?</h3>
    <p>Robot Legacy is the leading online resource for up to date news on technological advancements in the scientific field of <strong style="color: red">Robotic Cyberdyne Computational Analytics</strong>.</p>
    <p>... only kidding. This is my virtual playground. There is no purpose, other than random content, and a place to host my projects.</p>


</div>