<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true">
                    <!--data-toggle="collapse" data-target="#robot-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a ui-sref="robot.home">
            <img class="navbar-brand logo" src="img/RL32.png">
            <div class="navbar-brand">
                Robot Legacy
            </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="robot-navbar-collapse-1" ng-class="{'in':!navCollapsed}">
        <!--<div class="collapse navbar-collapse" collapse="navCollapsed">-->
            <ul class="nav navbar-nav">
                <li><a ui-sref="robot.birds">Birds</a></li>
                <li><a ui-sref="robot.projects">Projects</a></li>
                <!--<li><a ui-sref="robot.about">About</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a ui-sref="robot.birds">Birds</a></li>-->
                <li class="divider"></li>
                <li><a ui-sref="robot.about">About</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>